.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .block {
    width: 83.5%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    h1 {
      text-align: center;
      width: 100%;
      white-space: normal;
      color: var(--color-text-white);
      padding: 10px 0;
      border-bottom: 1px solid rgb(63, 63, 63);
    }
  }
  .boxVacancies {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
    div {
      margin: 10px;
      h2 {
        text-align: center;
        width: 100%;
        white-space: normal;
      }
    }
  }
}

.div_card {
  color: white;
  width: 90px;
  height: 90px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: green;
  cursor: pointer;
  img {
    width: 40%;
    object-fit: contain;
  }
  h2 {
    font-size: 12px;
    margin: auto 0;
    white-space: normal;
    overflow: hidden;
    &:hover {
      overflow: visible;
    }
  }
  .vancancyNumber {
    font-size: 20px;
  }
  .ocupada {
    color: white;
    width: 90px;
    height: 90px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: red;
  }
}

.boxInfoVacancies {
  margin-top: 110px;
  margin-left: 126.5px;
  width: 83.5%;
  height: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  font-size: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--color-title-yellow);
    margin-bottom: 30px;
    div {
      h1 {
        font-size: 25px;
        margin: auto 0;
        font-weight: bold;
      }
    }
    img {
      margin-right: 30px;
      width: 50px;
      height: 50px;
    }
  }
  .infosVacancies {
    color: var(--color-text-white);
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin: auto 0;
      width: 30%;
      h2 {
        white-space: normal;
        margin-top: 5px;
        border-radius: 10px;
        background-color: var(--color-title-yellow);
        color: var(--color-background-dark);
        padding: 5px;
        text-align: center;
        min-width: 30px;
      }
    }
  }
}
