<div class="boxInfoVacancies">
  <div class="header">
    <img src="/assets/car_icon_card.svg" alt="" />
    <div>
      <h1>Total</h1>
      <h2>{{ spots.length }}</h2>
    </div>
  </div>
  <div class="infosVacancies">
    <div>
      <h1>Disponiveis</h1>
      <h2>{{ spots.length - spotBusy }}</h2>
    </div>
    <div>
      <h1>Ocupadas</h1>
      <h2>{{ spotBusy }}</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="block">
    <h1>PÁTIO</h1>
    <section class="boxVacancies">
      <div *ngFor="let spot of spots">
        <app-modal-register
          (click)="modalStatus.setModal(true)"
          *ngIf="modalStatus.getModal() == true"
          [spotActual]="spot"
        />

        <app-card
          (click)="modalStatus.setModal(true)"
          [spotCard]="spot"
          (click)="modalStatus.setSpotActual(spot)"
        />
      </div>
    </section>
  </div>
</div>
