<div class="modal">
  <div class="div_bakground" (click)="service.setModal(false)"></div>
  <div class="div_modal">
    <div class="header">
      <h1>VAGA: [{{ service.getSpotActual()?.id }}]</h1>
      <button
        (click)="service.setModal(false)"
        class="button_close"
        type="button"
      >
        <img src="../../../assets/close.svg" alt="" />
      </button>
    </div>
    <div class="div_inputs">
      <div class="blockInput">
        <div
          *ngIf="
            service.getSpotActual()?.client;
            then HaCliente;
            else SemCliente
          "
        ></div>

        <ng-template #HaCliente>
          <form [formGroup]="formGroup" (ngSubmit)="endPeriod()" #formDir="ngForm">
            <!-- Conteúdo exibido quando a condição é verdadeira -->
            <label>NOME:</label>
            <input
              type="text"
              formControlName="name"
              placeholder="Cliente"
              readonly
            />
            <label>VEÍCULO:</label>
            <input
              type="text"
              formControlName="vehicle"
              placeholder="Veículo"
              readonly
            />
            <label>TIPO:</label>
            <input
              type="text"
              formControlName="type"
              placeholder="Carro/Moto"
              readonly
            />
            <label>PLACA:</label>
            <input
              type="text"
              formControlName="plate"
              placeholder="Placa"
              readonly
            />
            <label
              for="methodPayment"
              [ngStyle]="{ color: 'var(--color-background-dark)' }"
              >PAGAMENTO:</label
            >
            <select formControlName="methodPayment" class="selectPagamento">
              <option value="DINHEIRO">DINHEIRO</option>
              <option value="DEBITO">DEBITO</option>
              <option value="CREDITO">CREDITO</option>
              <option value="PIX">PIX</option>
            </select>

            <div
              *ngIf="methodPayment.invalid && formDir.submitted"
              class="validation-error"
            >
              <p>Selecione a forma de pagamento.</p>
            </div>

            <div class="div_buttons">
              <button
                class="button_close"
                (click)="service.setModal(false)"
                type="button"
              >
                CANCELAR
              </button>
              <button class="buttonSubmit" type="submit">FINALIZAR</button>
            </div>
          </form>
        </ng-template>

        <ng-template #SemCliente>
          <form [formGroup]="formGroup" (ngSubmit)="registerClient()" #formDir="ngForm">
            <!-- Conteúdo exibido quando a condição é falsa (bloco else) -->

            <label>NOME:</label>
            <input
              type="text"
              formControlName="name"
              placeholder="Ex: João da Silva"
              required
            />
            <div
              *ngIf="name.invalid && formDir.submitted"
              class="validation-error"
            >
              <p>Nome do cliente é obrigatório.</p>
            </div>

            <label>VEÍCULO:</label>
            <input
              type="text"
              formControlName="vehicle"
              placeholder="Ex: Gol, Uno, Palio"
              required
            />
            <div
              *ngIf="vehicle.invalid && formDir.submitted"
              class="validation-error"
            >
              <p>Nome do veículo é obrigatório.</p>
            </div>

            <label>PLACA:</label>
            <input
              type="text"
              formControlName="plate"
              placeholder="Ex: ABC-1234 / ABC 1A23"
              required
            />
            <div
              *ngIf="plate.invalid && formDir.submitted"
              class="validation-error"
            >
              <p>A placa é obrigatória.</p>
            </div>

            <label>TIPO:</label>
            <select formControlName="type" class="selectPagamento">
              <option value="CARRO">CARRO</option>
              <option value="MOTO">MOTO</option>
            </select>

            <div
              *ngIf="type.invalid && formDir.submitted"
              class="validation-error"
            >
              <p>O tipo é obrigatório.</p>
            </div>

            <div class="div_buttons">
              <button
                class="button_close"
                (click)="service.setModal(false)"
                type="button"
              >
                CANCELAR
              </button>
              <button class="buttonSubmit" type="submit">REGISTRAR</button>
            </div>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
</div>
