<div class="modal">
  <div class="div_bakground" (click)="service.setModal(false)"></div>
  <div class="div_modal">
    <div class="header">
      <h1>VAGA: [{{ service.getVagaAtual()?.id }}]</h1>
      <button
        (click)="service.setModal(false)"
        class="button_close"
        type="button"
      >
        <img src="../../../assets/close.svg" alt="" />
      </button>
    </div>
    <div class="div_inputs">
      <div class="blockInput">
        <div *ngIf="service.getVagaAtual()?.cliente; then HaCliente; else SemCliente"></div>
        
        <ng-template #HaCliente>
            <form [formGroup]="formGroup" (ngSubmit)="finalizarPeriodo()" >
            <!-- Conteúdo exibido quando a condição é verdadeira -->
            <label>NOME:</label>
            <input
              type="text"
              formControlName="nome"
              placeholder="Cliente"
              readonly
            />
            <label>VEÍCULO:</label>
            <input
              type="text"
              formControlName="veiculo"
              placeholder="Veiculo"
              readonly
            />
            <label>TIPO:</label>
            <input
              type="text"
              formControlName="tipo"
              placeholder="Carro/Moto"
              readonly
            />
            <label>PLACA:</label>
            <input
              type="text"
              formControlName="placa"
              placeholder="Placa"
              readonly
            />
            <label
              for="formaDePagamento"
              [ngStyle]="{ color: 'var(--color-background-dark)' }"
              >PAGAMENTO:</label
            >
            <select
              (change)="onSelectChange($event)"
              formControlName="formaDePagamento"
              id="formaDePagamento"
              class="selectPagamento"
            >
              <option value="DINHEIRO">DINHEIRO</option>
              <option value="DEBITO">DEBITO</option>
              <option value="CREDITO">CREDITO</option>
              <option value="PIX">PIX</option>

            </select>

            <div class="div_buttons">
              <button
                class="button_close"
                (click)="service.setModal(false)"
                type="button">
                CANCELAR
              </button>
              <button class="buttonSubmit" type="submit">FINALIZAR</button>
            </div>
            </form>
          </ng-template>

          <ng-template #SemCliente>
            <form [formGroup]="formGroup" (ngSubmit)="salvar()" >
            <!-- Conteúdo exibido quando a condição é falsa (bloco else) -->
            <label>NOME:</label>
            <input
            type="text"
            formControlName="nome"
            placeholder="Cliente"
            />

            <label>VEÍCULO:</label>
            <input
              type="text"
              formControlName="veiculo"
              placeholder="Veiculo"
            />

            <label>TIPO:</label>
            <input
              type="text"
              formControlName="tipo"
              placeholder="Carro/Moto"
            />

            <label>PLACA:</label>
            <input
            type="text"
            formControlName="placa"
            placeholder="Placa"
            />

            <div class="div_buttons">
              <button
                class="button_close"
                (click)="service.setModal(false)"
                type="button">
                CANCELAR
              </button>
              <button class="buttonSubmit" type="submit">REGISTRAR</button>
            </div>
            
          </form>
          </ng-template>
        </div>
      </div>
  </div>
</div>