.boxInfoVacancies{
  margin-left: 100px;
  width: 80%;
  height: 280px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  margin-bottom: 70px ;
  font-size: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .header{
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--color-title-yellow);
    margin-bottom: 30px;
    div{
      h1{
        font-size: 25px;
        margin: auto 0;
        font-weight: bold;
      }
    }
    img{
      margin-right: 30px;
      width: 50px;
      height: 50px;
    }
  }
  .infosVacancies{
    color: var(--color-text-white);
    display: flex;
    justify-content: space-between;
    div{
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin: auto 0;
      width: 30%;
      h2{
        white-space: normal;
        margin-top: 5px;
        border-radius: 10px;
        background-color: var(--color-title-yellow);
        color: var(--color-background-dark);
        padding: 5px;
        text-align: center;
        min-width: 30px;
      }
    }
  }
}
.saldo {
  display: flex;
  white-space: normal;
  padding: 5px;
  text-align: center;
  min-width: 30px;
  margin-left: 57%;
}