
    <div class=boxInfoVacancies>
        <div class=header>
          <img src="/assets/MoneyIcon.svg" alt="" />
          <div>
            <h1>Registros do dia</h1>
            <h2>R$ {{rendimentoDoDia}}</h2>
          </div>
        </div>
        <div class=infosVacancies>
          <div>
            <h1>Clientes do dia</h1>
            <h2>28</h2>
          </div>
          <div>
            <h1>Faturamento do dia</h1>
            <h2>R$ 2.000,00</h2>
          </div>
        </div>
      </div>